<div class="article-card">
  <div class="article-content">
    <div class="article-header">

      <div class="header-left">
          <span>{{ article.category }} | <strong>{{ article.source?.name }}</strong></span>
          <button class="btn-subscribe" (click)="subscribe()">
            @if (article.isSubscribed) {
              🔔 Suscribito         
            } @else {
              🔕 No subscrito
            }
          </button>
      </div>
      <div class="article-date">
        {{ article.publishedAt | date }}
      </div>
    </div>

    <h2 class="article-title">{{ article.title }}</h2>
    <p class="article-description">{{ article.description }}</p>

    <div class="article-actions">
      @if (!article.isFavoritePage) {
        <button class="btn-heart" (click)="favorite()" (click)="sendInteracitionSave()">
          @if (article.isFavorite) {
            <span class="heart-icon active">♥</span>
          } @else {
            <span class="heart-icon">♡</span>
          }
        </button>
      }

      <button class="read-full-btn"  (click)="onSummarize(article)">
        Resumen IA
      </button>
      <button class="read-full-btn" (click)="onReadFull($event)" (click)="sendInteracionClick()">
        Leer más →
      </button>   

    </div>
  </div>

    <div class="article-image-container">
      <img [src]="article.image" 
           [alt]="article.title" 
           (error)="imageError($event)"
           class="article-image" />
    </div>

</div>