<nav class="navbar navbar-dark bg-dark px-4">
  <div class="navbar-inner">
    <a class="navbar-brand fw-bold">KRIBA</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" [attr.aria-expanded]="menuOpen"
      aria-controls="menu" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div #navbarCollapse class="navbar-collapse" [class.show]="menuOpen" id="menu">
    <ul class="navbar-nav">
      @if(!isRoute){
      <li class="nav-item categories-item">
        <div class="categories-container">
          @for (cat of categorias; track cat) {
          <button type="button" class="btn btn-sm rounded-pill px-3 py-1" [class.btn-light]="selectedCategory === cat"
            [class.btn-outline-light]="selectedCategory !== cat" (click)="selectCategory(cat)">
            {{ cat }}
          </button>
          }
        </div>
      </li>
      }

      <li class="nav-item">
        @if (userLoginOn) {
        <a class="nav-link" href="#" (click)="onLogout(); $event.preventDefault()">Cerrar Sesión</a>
        }
      </li>
    </ul>
  </div>
</nav>