<div class="kriba-sidebar">
    <div class="brand-side">
        <div class="brand-name">Kriba</div>
        <div class="brand-tagline">INTELLIGENT NEWS</div>
    </div>

    <div class="nav-section-title">Secciones</div>

    <div class="sidebar-nav">
        <ul>
           <li>
                <a routerLink="/home" routerLinkActive="active-link">
                    <i class="fas fa-user-circle"></i>
                    <span>Feed</span>
                </a>
            </li>
            <li>
                <a routerLink="/userPage" routerLinkActive="active-link">
                    <i class="fas fa-user-circle"></i>
                    <span>Perfil</span>
                </a>
            </li>
            <li>
                <a routerLink="/statistics" routerLinkActive="active-link">
                    <i class="fas fa-chart-line"></i>
                    <span>Estadísticas</span>
                </a>
            </li>
            <li>
                <a routerLink="/saved" routerLinkActive="active-link">
                    <i class="fas fa-bookmark"></i>
                    <span>Favoritos</span>
                </a>
            </li>
            <li>
                <a routerLink="/subs" routerLinkActive="active-link">
                    <i class="fas fa-map-marked-alt"></i>
                    <span>Subscripciones</span>
                </a>
            </li>
        </ul>
    </div>
</div>
